@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(../images/todo_background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* 투두창 투명배경 적용 */
form {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;

}

/* 제목 스타일 설정 */
h1 {
    font-size: 2.8em;
    margin-top: 50px;
    padding-top: 30px;
}

/* 입력창 스타일 설정 */
.inputfield {
    display: inline-block;
    width: 500px;
    height: 40px;
    font-size: 1.1em;
    border: 0px;
    border-radius: 15px;
    padding-left: 10px;
}

/* 투두 리스트 스타일 설정 */
::marker {
    content: '♥';
    color: rgb(212, 152, 229);
    font-size: 20px;
}

ul {
    list-style-position: inside;
    padding-left: 20px;
}

span.todoText {
    display: inline-block;
    width: 400px;
    text-align: left;
    font-size: 1.2em;
}

li {
    margin: 10px auto;
}

/* 버튼 스타일 설정 */
.addbtn {
    width: 40px;
    height: 42px;
    border-radius: 13px;
    border: 0px;
    font-size: 1.5em;
}

.deletebtn,
.donebtn {
    font-size: 1em;
    border: 0px;
    width:50px;
    height: 40px;
    border-radius: 10px;
}

#clear {
    font-size: 1em;
    border: 0px;
    width:80px;
    height: 40px;
    border-radius: 10px;
}

.addbtn:hover,
.deletebtn:hover,
.donebtn:hover,
#clear:hover {
    cursor: pointer;
    border: 3px dashed rgb(83, 82, 82)y;
}





