<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cashbook</title>
  </head>
  <body>
    <h1>[ 회원가입 ]</h1>

    <div class="content">
      <form th:action="@{/member/joinProc}" method="post">
        아이디
        <input type="text" name="memberid" id="memberid" />
        <br />

        비밀번호
        <input type="password" name="memberpw" id="memberpw" />
        <br />

        비밀번호 확인
        <input type="password" id="check-memberpw" />
        <br />

        이름
        <input type="text" name="membername" id="membername" />
        <br />

        <input type="submit" value="가입" id="joinBtn" />
      </form>
    </div>

    <script th:src="@{/script/join_validation.js}"></script>
  </body>
</html>
